[Unit]
Description=Home Assistant (Rootful System Container)
After=network-online.target bluetooth.service var-mnt-nas-smarthome.mount var-mnt-nas-secrets.mount
Wants=bluetooth.service
Requires=var-mnt-nas-smarthome.mount var-mnt-nas-secrets.mount
RequiresMountsFor=/var/mnt/nas/smarthome /var/mnt/nas/secrets

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=homeassistant
AutoUpdate=registry

# --- PASSTHROUGH USB ZIGBEE ---
AddDevice=/dev/ttyUSB0:/dev/ttyUSB0

# Disabilita l'isolamento SELinux per comunicare con l'hardware host
SecurityLabelDisable=true

# --- NUOVI PERMESSI BLUETOOTH ATTIVO ---
# Richiesti da HA per inviare comandi (es. lampadine SmartLife/Tuya)
AddCapability=NET_ADMIN
AddCapability=NET_RAW

# Percorsi ASSOLUTI al NAS smarthome
EnvironmentFile=/var/mnt/nas/secrets/secrets.env
Environment=TZ=Europe/Rome
Network=host

# Volumi (Rimosso il flag :Z perché l'NFS non supporta le etichette SELinux locali)
Volume=/var/mnt/nas/smarthome/homeassistant/config:/config
Volume=/run/dbus:/run/dbus:ro
Volume=/etc/machine-id:/etc/machine-id:ro

[Install]
# I servizi di sistema usano multi-user.target (non default.target)
WantedBy=multi-user.target